<div class="parent-container">
  <div style="display: flex;align-items:center;justify-content: space-between ; gap: .3em">
    <div>
      <span>Latest</span>
      <input style="width: 4ch" id="latestWeekInput" type="number" (input)="onLatestWeekChange($event.target)" />
      <span>weeks</span>
    </div>
    <div>
      <button class="action-button" (click)="clearWeekSelections()">Clear</button>
      <button class="action-button" *ngIf="isSameWeekEnding" (click)="endWeekSelected()">Select End Week</button>
      
    </div>
    <div style="display: flex;align-items: center; gap: .3em">
      <span>Different Ending</span>
      <label class="switch">
        <input checked type="checkbox" (change)="isSameWeekEnding = !isSameWeekEnding">
        <span class="slider round"></span>
      </label>
      <span>Same Ending</span>
  
    </div>

  </div>
  <div style="display: flex; justify-content: space-between">
    
  </div>
  <div  class="visual-container" id="timeRangeTableContainer">

    <table id= "table" class="timeRangeTable">
      <thead>
      <tr class="title" id="title">
        <td class="th">Week ending date</td>
        <td class="th">Data sets / Weeks</td>
        <td  class="tr-empty"></td>
        <!-- <span *ngFor="let dataset of datasets; let i = index"> -->
        <td *ngFor="let dataset of datasets; let i = index" id="{{dataset}}" class="tr dataset-cell vertical-text">
          {{dataset}}
        </td>
          <!-- <td class="tr-empty"></td> -->
        <!-- </span> -->
      </tr>
    </thead>
      <tbody>
      <tr *ngFor="let item of datasetAvailability; let index=index">
        <td class="th vertical-text" id={{item[1]}}>{{item[1]}}</td>
        <td class="th vertical-text" >{{item[0]}}</td>
        <td class="tr-empty"></td>
        <td *ngFor="let dataset of datasets; let innerIndex=index"  class="tr dataset-cell" id={{dataset}}{{item[1]}}
            [ngClass]="{'data-available':item[innerIndex+2]==='TRUE'}">
            <br/>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
