<div class="parent-container">
  <div style="display: flex;align-items:center;justify-content: space-between ; gap: .3em">
    <div>
      <span>Latest</span>
      <input style="width: 4ch" type="number" (input)="onLatestWeekChange($event.target)" />
      <span>weeks</span>
    </div>
    <div>
      <button class="action-button" (click)="clearWeekSelections()">Clear</button>
      <button class="action-button" (click)="endWeekSelected()">Select End Week</button>
      
    </div>
    <div style="display: flex;align-items: center; gap: .3em">
      <span>Different Ending</span>
      <label class="switch">
        <input checked type="checkbox" #isSameEnding>
        <span class="slider round"></span>
      </label>
      <span>Same Ending</span>
  
    </div>

  </div>
  <div style="display: flex; justify-content: space-between">
    
  </div>
  <div  class="visual-container">

    <table id= "table" class="chumma">
      <thead>
      <tr class="title">
        <td class="th">Week ending date</td>
        <td class="th">Data sets / Weeks</td>
        <td class="tr-empty"></td>
        <span *ngFor="let dataset of datasets; let i = index">
        <td class="tr dataset-cell vertical-text">
          {{dataset}}
        </td>
          <td class="tr-empty"></td>
        </span>
      </tr>
    </thead>
      <tbody>
      <tr *ngFor="let item of datasetAvailability; let index=index">
        <td class="th vertical-text" id={{item[1]}}>{{item[1]}}</td>
        <td class="th vertical-text" >{{item[0]}}</td>
        <td class="tr-empty"></td>
        <span *ngFor="let dataset of datasets; let innerIndex=index">
        <td class="tr" id={{dataset}}{{item[1]}}
            [ngClass]="{'data-available':item[innerIndex+2]==='TRUE'}">
        </td><td class="tr-empty"></td>
        </span>
      </tr>
    </tbody>
    </table>
  </div>
</div>
